body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333; 
}


.dark-theme {
  background-color: #333;
  color: white;
}

.light-theme {
  background-color: #fff;
  color: black;
}

.dark-gray-navbar {
  background-color: #343a40;
}

.dark-gray-navbar {
  background-color: #343a40; 
}

.dark-gray-navbar .navbar-brand,
.dark-gray-navbar .nav-link {
  color: #ffffff; 
  margin: 10px;
}

.dark-gray-navbar .nav-link:hover,
.dark-gray-navbar .nav-link:focus,
.dark-gray-navbar .nav-link.active {
  color: #dddddd; 
}
.carousel-item img {
  height: 550px;
  object-fit: cover; 
  width: 100%;
}
.text-justify {
  text-align: justify;
  font-size: 20px;
  margin-top: 20px;
  margin: 20px;
}
.text-center {
  text-align: center;
}
.light-navbar {
  background-color: #f8f9fa; 
  color: #000; 
}

.dark-navbar {
  background-color: #343a40; 
  color: #fff;
}

.light-navbar .nav-link {
  color: #000; 
}

.dark-navbar .nav-link {
  color: #fff; 
}

.light-navbar .navbar-brand {
  color: #000; 
}

.dark-navbar .navbar-brand {
  color: #fff; 
}

.light-navbar .nav-link:hover {
  color: #007bff; 
}

.dark-navbar .nav-link:hover {
  color: #00aaff; 
}
.light-theme .icon-moon {
  color: black; 
}

.dark-theme .icon-sun {
  color: white; 
  border: none;
  background: none; 
  padding: 0; 
  cursor: pointer; 
}

.icon {
  font-size: 24px;
  transition: color 0.3s; 
  cursor: pointer;
  color: inherit; 
}
.btn-outline-light {
  border-color: transparent; 
  box-shadow: none; 
}
.btn {
  border: none; 
  background: transparent; 
}

.btn:hover {
  background: transparent; 
  cursor: pointer;
}


